/*======================================================================================================

                                        네비게이션

======================================================================================================*/
#navigation {}

.sidebar {
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(34, 36, 41);
  border-right: 1px dashed var(--color-white);
  transition: all 300ms;
  z-index: 1000;
}

/*=============== .sidebar-brand ===============*/
.sidebar-brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
}

.sidebar-brand span {
  padding-right: 1rem;
}

.sidebar-brand span:first-child {
  font-size: 50px;
}

/*=============== .sidebar-scroll ===============*/
.sidebar-scroll {
  /* 스크롤바 모양을 이쁜 것으로 바꿔줘야 함 */
  overflow: auto;
  height: 100vh;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 5px;
  /*스크롤바의 너비*/
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  /*스크롤바의 색상*/
  background-color: var(--color-text);
}

.sidebar-scroll::-webkit-scrollbar-track {
  /*스크롤바 트랙 색상*/
  background-color: var(--color-white);
}

/*=============== .sidebar-menu ===============*/
.sidebar-menu {
  margin-top: 1rem;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: .9rem;
  font-weight: 800;  
}

.sidebar-menu li {
  margin-bottom: 5px;
  padding-left: 1rem;
  transition: all 100ms ease-in 0s;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #41C7C7;
  height: 45px;
  line-height: 45px;
  transition: all 300ms ease-in 0s;
}

.sidebar-menu a.active,
.sidebar-menu li:hover {
  text-shadow: rgb(65 199 199 / 90%) 0px 2px 7px;
}

.sidebar-menu a span:first-child {
  padding-right: 1rem;
}

/* .sidebar-menu a span:nth-child(even) {  
  display: none;
} */

.sidebar-menu a span:nth-child(odd) {
  display: none;
}

/* .sidebar-menu a {
  text-decoration: none;
  transition: all 300ms ease-in 0s;
}

.sidebar-menu a:hover {
  text-decoration: underline;
  color: red;
} */

.sidebar-menu a span:last-child:hover {
  /* color: #8fd3f4; */
}

.to-right-underline {
  position: relative;
}




.to-right-underline:after {
  content: "";
  position: absolute;
  left: 0;
  /* bottom: -10px; */
  bottom: -2px;
  width: 0px;
  height: 2px;
  margin: 2px 0 0;
  /* transition: all 0.2s ease-in-out;
  transition-duration: 0.3s; */
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  /* background-color: #8fd3f4; */
  background-color: #41C7C7;
  
}

.to-right-underline:hover:after {
  width: 100%;
  opacity: 1;
}

/************************************************************************************/

.sidebar-menu a {
  position: relative;
}

.sidebar-menu li a .svg-wrapper div {
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 0; */
  top: -7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 1000; */
  /* left: -10px; */
  left: 15px;
}

.sidebar-menu .svg-wrapper {
  position: relative;
  /* top: 20%; */
  /* transform: translateX(-100%); */
  /* transform: translateY(-30%); */
  margin: 0 auto;
  width: 40px;
  /* right: 0; */
  margin-right: 25px;
}

.sidebar-menu li a .svg-wrapper .shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -510;
  stroke-width: 0;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 300ms, stroke-dashoffset 700ms, stroke-dasharray 700ms;
}

.sidebar-menu .svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.sidebar-menu li a .svg-wrapper svg div {
  position: relative;
  top: -5px;
}

/*=============== #nav-toggle ===============*/
/* 
    + 연산자 

      예) A + B
      뜻) A 태그 옆에 있는 B 태그를 선택하라는 선택자이다.

      기능 설명 : 
        아이디가 nav-toggle인 체크박스가 check 되면,
        nav-toggle 과 같은 레벨에 있는 
        클래스 이름이 sidebar 인 태그에 아래 속성과 값을 적용해라!!!
 */
#nav-toggle:checked+.sidebar {
  width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
  /* padding-left: 1rem; */
  padding-left: .7rem;
  text-align: center;
}

#nav-toggle:checked+.sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child

/* #nav-toggle:checked+.sidebar .sidebar-menu a span:first-child { */
  {
  display: none;
}


#nav-toggle:checked+.sidebar .sidebar-menu a span:first-child {
  display: inline;
}


/* #nav-toggle:checked+.sidebar .sidebar-menu a span:nth-child(even) {
  display: inline;
} */

#nav-toggle:checked~.main-content {
  margin-left: 70px;
}

#nav-toggle:checked~.main-content header {
  width: calc(100% - 70px);
  /* left: 70px; */
}

/************************************************************************************/

.sidebar-menu a {
  position: relative;
}

.sidebar-menu li a .svg-wrapper div {
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 0; */
  top: -7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 1000; */
  /* left: -10px; */
  left: 15px;
}

.sidebar-menu .svg-wrapper {
  position: relative;
  /* top: 20%; */
  /* transform: translateX(-100%); */
  /* transform: translateY(-30%); */
  margin: 0 auto;
  width: 40px;
  /* right: 0; */
  margin-right: 25px;
}

.sidebar-menu li a .svg-wrapper .shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -510;
  stroke-width: 0;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 300ms, stroke-dashoffset 700ms, stroke-dasharray 700ms;
}

.sidebar-menu .svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.sidebar-menu li a .svg-wrapper svg div {
  position: relative;
  top: -5px;
}

/*=============== #nav-toggle ===============*/
/* 
    + 연산자 

      예) A + B
      뜻) A 태그 옆에 있는 B 태그를 선택하라는 선택자이다.

      기능 설명 : 
        아이디가 nav-toggle인 체크박스가 check 되면,
        nav-toggle 과 같은 레벨에 있는 
        클래스 이름이 sidebar 인 태그에 아래 속성과 값을 적용해라!!!
 */
#nav-toggle:checked+.sidebar {
  width: 70px;
}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
  /* padding-left: 1rem; */
  padding-left: .7rem;
  text-align: center;
}

#nav-toggle:checked+.sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child

/* #nav-toggle:checked+.sidebar .sidebar-menu a span:first-child { */
  {
  display: none;
}


#nav-toggle:checked+.sidebar .sidebar-menu a span:first-child {
  display: inline;
}


/* #nav-toggle:checked+.sidebar .sidebar-menu a span:nth-child(even) {
  display: inline;
} */

/* #nav-toggle:checked~.main-content { */
#nav-toggle:checked .main-content {
  margin-left: 70px;
}

/* #nav-toggle:checked~.main-content header { */
#nav-toggle:checked .main-content header {
  width: calc(100% - 70px);
  /* left: 70px; */
}