<body>

  <!-- .sidebar-brand -->
  <div class="sidebar-brand">
    <span class="las la-eye"></span>
    <span>Time Series Sensor Data<br />Forecastin UI</span>
  </div>
  <!--// .sidebar-brand  -->

  <!-- .sidebar-scroll -->
  <div class="sidebar-scroll">

    <!-- sidebar-menu -->
    <div class="sidebar-menu">
      <ul>

        <li>
          <a href="" class="active">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>D</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">Dashboard</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>1</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">센서 데이터 현황</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>2</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">센서 데이터 선택</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>3</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">Pandas Profiler</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>4</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">Sweetviz</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>5</div>
                </svg>
              </div>
            </span>
            <span class=" to-right-underline">센서 데이터 로딩 & 프리뷰</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>6</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">센서 데이터 상관관계 그래프</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>7</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">결측치 시각화 및 처리</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>8</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">이상치 시각화 및 처리</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>9</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">리셈플링 및 정규화</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>10</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">시계열 데이터 분해</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>11</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">시계열 정상성 검사 및 변환</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>12</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">시계열 예측 with 단일 변수</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>13</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">시계열 예측 with 다중 변수</span>
          </a>
        </li>

        <li>
          <a href="">
            <span style="width: 90%;">
              <div class="svg-wrapper" width="100%">
                <svg width="100%" height="45px" xmlns="http://www.w3.org/2000/svg">
                  <rect class="shape" width="100%" height="100%" />
                  <div>14</div>
                </svg>
              </div>
            </span>
            <span class="to-right-underline">시계열 예측 결과 분석</span>
          </a>
        </li>

      </ul>
    </div>
    <!--// sidebar-menu -->

  </div>
  <!--// .sidebar-scroll -->

</body>